RewriteEngine On
RewriteBase /
#tube repair
RewriteRule ^youtube/accounts/applelogin1$ TubeRepair/HandshakeLogin.php?login=1 [L]
RewriteRule ^TubeRepair/schemas/2007/categories.cat$ TubeRepair/ASCategories.php [L]
RewriteRule ^feeds/api/users/([\w-]+)/playlists?$ TubeRepair/ASGetPlaylists.php?channelId=$1 [L]
RewriteRule ^feeds/api/users/events?$ TubeRepair/test.php?channelId=$1 [L]
RewriteRule ^o/oauth2/programmatic_auth$ TubeRepair/test.php?channelId=$1 [L]
RewriteRule ^feeds/api/videos$ TubeRepair/ASSearch.php [L]
RewriteRule ^feeds/api/channels$ TubeRepair/ASChannelSearch.php [L]
RewriteRule ^youtube/accounts/applelogin2$ TubeRepair/HandshakeLogin.php?login=2 [L]
RewriteRule ^accounts/ClientLogin$ TubeRepair/HandshakeLogin.php?login=2 [L]
RewriteRule ^youtube/accounts/registerDevice$ TubeRepair/HandshakeLogin.php?login=3 [L]
RewriteRule ^feeds/api/standardfeeds/US/recently_featured$ TubeRepair/Featured.php [L]
RewriteRule ^feeds/api/standardfeeds/US/most_popular$ TubeRepair/ASFeatured.php [L]
RewriteRule ^feeds/api/standardfeeds/most_popular$ TubeRepair/ASFeatured.php [L]
RewriteRule ^feeds/api/standardfeeds/US/most_viewed$ TubeRepair/Featured.php [L]
RewriteRule ^feeds/api/users/([\w-]+)/uploads?$ TubeRepair/GetChannelVideos.php?username=$1 [L]
RewriteRule ^feeds/api/users/([\w-]+)/uploads?$ TubeRepair/GetChannelVideos.php?username=$1 [L]
RewriteRule ^feeds/api/videos/([\w-]+)/comments?$ TubeRepair/ASGetComments.php?videoId=$1 [L]
RewriteRule ^feeds/api/users/([^/]+)/uploads?$ /TubeRepair/GetChannelVideos.php?username=$1 [L,QSA]
RewriteRule ^feeds/api/users/([^/]+)/subscriptions$ /TubeRepair/GetChannelVideos.php?username=$1 [L,QSA]
RewriteRule ^feeds/api/videos/$ TubeRepair/Search.php [L]
RewriteRule ^feeds/api/videos/$ TubeRepair/Search.php [L]
RewriteRule ^feeds/api/videos/([\w-]+)/related?$ TubeRepair/GetRelatedVideos.php?username=$1 [L]
RewriteRule ^youtube/accounts/applelogin1$ TubeRepair/HandshakeLogin.php?login=1 [L]
RewriteRule ^schemas/2007/categories.cat$ TubeRepair/ASCategories.php [L]
RewriteRule ^feeds/api/users/([\w-]+)/playlists?$ TubeRepair/ASGetPlaylists.php?channelId=$1 [L]
RewriteRule ^feeds/api/users/events?$ TubeRepair/test.php?channelId=$1 [L]
RewriteRule ^o/oauth2/programmatic_auth$ TubeRepair/HandshakeLogin.php?login=2 [L] [L]
#TR tweak 
RewriteRule ^TubeRepair/youtube/accounts/applelogin1$ TubeRepair/HandshakeLogin.php?login=1 [L]
RewriteRule ^TubeRepair/schemas/2007/categories.cat$ TubeRepair/ASCategories.php [L]
RewriteRule ^TubeRepair/feeds/api/users/([\w-]+)/playlists?$ TubeRepair/ASGetPlaylists.php?channelId=$1 [L]
RewriteRule ^TubeRepair/feeds/api/users/events?$ TubeRepair/test.php?channelId=$1 [L]
RewriteRule ^TubeRepair/o/oauth2/programmatic_auth$ TubeRepair/HandshakeLogin.php?login=2 [L]

RewriteRule ^TubeRepair/feeds/api/channels$ TubeRepair/ASChannelSearch.php [L]
RewriteRule ^TubeRepair/youtube/accounts/applelogin1$ TubeRepair/HandshakeLogin.php?login=1 [L]
RewriteRule ^TubeRepair/youtube/accounts/applelogin2$ TubeRepair/HandshakeLogin.php?login=2 [L]
RewriteRule ^TubeRepair/accounts/ClientLogin$ TubeRepair/HandshakeLogin.php?login=2 [L]
RewriteRule ^TubeRepair/youtube/accounts/registerDevice$ TubeRepair/HandshakeLogin.php?login=3 [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/US/recently_featured$ TubeRepair/Featured.php [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/US/most_popular$ TubeRepair/ASFeatured.php [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/most_popular$ TubeRepair/ASFeatured.php [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/US/most_popular_([\w-]+)$ TubeRepair/ASVideoCategory.php?category=$1 [L]
RewriteRule ^feeds/api/standardfeeds/([\w-]+)/most_popular_([\w-]+)$ TubeRepair/ASVideoCategory.php?category=$1&region=$2 [L]
RewriteRule ^feeds/api/standardfeeds/most_popular_([\w-]+)$ TubeRepair/ASVideoCategory.php?category=$1 [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/most_popular_([\w-]+)$ TubeRepair/ASVideoCategory.php?category=$1 [L]
RewriteRule ^TubeRepair/feeds/api/standardfeeds/([\w-]+)/most_viewed$ TubeRepair/Featured.php [L]
RewriteRule ^TubeRepair/feeds/api/users/([\w-]+)/uploads?$ TubeRepair/GetChannelVideos.php?username=$1 [L]
RewriteRule ^TubeRepair/feeds/api/users/([^/]+)/uploads?$ /TubeRepair/GetChannelVideos.php?username=$1 [L,QSA]
RewriteRule ^TubeRepair/feeds/api/users/([^/]+)/subscriptions$ /TubeRepair/GetChannelVideos.php?username=$1 [L,QSA]
RewriteRule ^TubeRepair/feeds/api/playlists/([^/]+)$ /TubeRepair/ASGetPlaylistVideos.php?playlistId=$1 [L,QSA]
RewriteRule ^feeds/api/playlists/([^/]+)$ /TubeRepair/ASGetPlaylistVideos.php?playlistId=$1 [L,QSA]
RewriteRule ^TubeRepair/feeds/api/videos$ TubeRepair/Search.php [L]

RewriteRule ^TubeRepair/feeds/player/videos/([\w-]+)$ TubeRepair/GetVideo.php?videoId=$1 [L]
RewriteRule ^TubeRepair/feeds/player/videos/$ TubeRepair/Search.php [L]
RewriteRule ^TubeRepair/feeds/api/channels/([\w-]+)$ TubeRepair/ASGetChannelInfo.php?channelId=$1 [L]

RewriteRule ^TubeRepair/feeds/api/videos/([\w-]+)/related?$ TubeRepair/GetRelatedVideos.php?username=$1 [L]
