Package: bag.xml.tuberepair
Name: TubeRepair - Tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: yeah
Maintainer: bag.xml
Author: bag.xml
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Icon: icon.png