Package: bag.xml.tubefixer
Name: TubeRepair - Tweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bag.xml
Author: bag.xml
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
